<div class="bgcomponent">
    <div class="form">
        <mat-card class="card">
        <mat-card-title>Register Professor</mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Professor Name And LastName"
                    />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input
                    matInput
                    value=""
                    placeholder="(xxx) xxx-xxxx"
                    mask="(000) 000-0000"
                    />
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Adress"
                    />
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Expertise"
                    />
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Professor Email"
                    type="email"
                    />
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Professor Password"
                    type="password"
                    />
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Estudent Parent Email"
                    type="email"
                    />
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Parent Phone Number</mat-label>
                    <input
                    matInput
                    value=""
                    placeholder="(xxx) xxx-xxxx"
                    mask="(000) 000-0000"
                    />
                </mat-form-field>
             
            </div>
        </mat-card-content>
        </mat-card>
    </div>
</div>