<div class="bgcomponent">
    <div class="form">
        <mat-card class="card">
        <mat-card-title>Register ClassRoom</mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Ubication"
                    />
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Classroom Code"
                    />
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Student Capacity"
                    />
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Proffesor Assigned"
                    />
                </mat-form-field>

             
            </div>
        </mat-card-content>
        </mat-card>
    </div>
</div>