<div class="bgcomponent">
    <div class="form">
        <mat-card class="card">
        <mat-card-title>Register course</mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Class Room Ubication"
                    required
                    />
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Course Name"
                    required
                    />
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Course Proffesor"
                    required
                    />
                </mat-form-field>
                <mat-form-field>
                    <h5>course Start Date</h5>
                    <input
                    matInput
                    type="Date"
                    required
                    />

                </mat-form-field>
                <mat-form-field>
                    <h5>course Start Time</h5>
                    <input
                    matInput
                    type="time"
                    required
                    />

                </mat-form-field>

             
            </div>
        </mat-card-content>
        </mat-card>
    </div>
</div>