<mat-toolbar color="primary" class="mat-elevation-z6 Header">
    <span><mat-icon class="icono">face</mat-icon>learning is fun</span>

    <div class="spacer"></div>

    <a mat-raised-button routerLink="" color='accent'>Home</a>
    <a mat-button routerLink="registerStudent">Registrar estudiante</a>
    <a mat-button routerLink="registerTutor">Registrar Profesor</a>
    <a mat-button routerLink="registerClases">Registrar Clases</a>
    <a mat-button routerLink="registerClassRoom">Registrar Curso</a>
</mat-toolbar>